.background-host {
  background-image: url('../../assets/hostform.jpg'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.overlay-content-host {
  /* background-color: rgba(255, 255, 255, 0.677); */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: 400px;
}

.form-container-host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.own-account{
color: #ffffff;
}

.input-host {
  padding: 0.75rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.button-host {
  padding: 12px;
  background-color: #23395d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-host:hover {
  background-color: #007BFF;
}

.host-tag  {
  text-align: center;
  display: block;
  margin-top: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.tag-link{
  margin-top: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 600px) {
  .overlay-content-host {
    padding: 1.5rem;
  }

  .input-host, .button-host {
    font-size: 0.95rem;
    padding: 0.65rem;
  }

  .form-container-host {
    gap: 0.8rem;
  }
}

